.greybar {
    width:100%;
    height:90px;
    background:#F5F6F6;
    clear:both;
    padding-top:30px;
}
footer {
    width:100%;
    height:120px;
    background:$background;
    text-align:center;
    color:#FFF;
    padding-top:50px;
    @include break(459px) {
        text-align:center;
    }
    p, img {
        @include break(459px) {
            float:none;
            margin:0;
        }
    }
}
.social-media {
    margin:0 auto;
    width:165px;
    div {
        float:left;
        margin-right:5px;
    }
    a {
        display:block;
        width:36px;
        height:36px;
        text-indent:-9999px;
    }
    div.one       {
        background:url('../images/social-media.png') 0 0;
    }
    div.two 	    {
        background:url('../images/social-media.png') -38px 0;
    }
    div.three     {
        background:url('../images/social-media.png') -76px 0;
    }
    div.four 	    {
        background:url('../images/social-media.png') -114px 0;
    }
}














