@import "modules/mixins";
nav {
    background-color: $navbackground;
    width:540px;
    height:190px;
    float:left;
    text-align:right;
    @include break(959px) {
        width:inherit;
        height:50px;
        float:none;
        text-align:center;
    }
    @include break(459px) {
        margin-bottom:40px !important;
    }
    ul {
        list-style-type:none;margin-top:95px;
        @include break(959px) {
            margin-top:0;
        }
        li {
            display:inline;
            font-size:0.8em;margin-right:10px;
            @include break(959px) {
                font-size:1em;margin:0 10px;
            }
            @include break(767px) {
                font-size:0.8em;
                margin:0 5px;
            }
            a {
                text-decoration:none;letter-spacing:-0.01em;
                color: $navlinks;
                &:hover {
                    color:#FFF;
                }
            }
        }
    }
}
