@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "modules/variables";
@import "modules/navigation";
@import "modules/header";
@import "modules/footer";
@import "modules/mixins";


body {
    font-size:1em;
    line-height:2em;
    background:url('../images/bg.gif') #FFF repeat-x;
    margin:0;
    font-family: $body-font;
}
main {
    width:940px;
    margin:0 auto;
    padding:0 10px;
    @include break(959px) {
        width:768px;
    }
    @include break(767px) {
        width:460px;
    }
    @include break(459px) {
        width:300px;
    }
}

figure {
    width:400px;
    height:190px;
    background:url('../images/logo.png') no-repeat 0 50px;
    float:left;
    display:block;
    margin:0;
    @include break(959px) {
        width:inherit;
        height:140px;
        float:none;
        background-position:center;
    }
    @include break(459px) {
        background-size:contain;
        height:100px;
    }
}

#headline {
    width:100%;
    height:130px;
    background:$divider;text-align:center;
    margin:0 auto;
    h1 {
        color:#FFF;
        font-size:2.5em;
        font-weight:100;
        padding-top:50px;
        @include break(767px) {
            font-size:2em;
            padding-top:50px;
        }
        @include break(459px) {
            font-size:1.5em;
            padding-top:30px;
        }
    }
}
#content {
    width:940px;
    margin:20px auto;
    @include break(959px) {
        width: inherit;
    }

    h3 {
        color:#666;
        font-size:2em;
        font-weight:400;
        @include break(459px) {
            font-size:1.6em;
        }
    }
    #products {
        width:460px;
        float:left;
        @include break(959px) {
            width:46%;
            margin:0 2%;
        }
        @include break(767px) {
            width:96%;
            margin:0 2%;
            float:none;
        }
        img {
            float:left;margin-right:20px;
        }
        article {
            margin-bottom:40px;
        }
        h4 {
            line-height:1em;
        }
    }
    #testimonials {
        width:460px;
        float:right;
        @include break(959px) {
            width:46%;
            margin:0 2%;
        }
        @include break(767px) {
            width:96%;
            margin:0 2%;
            float:none;
        }
    }
}

.greybar, article img {
    @include break(459px) {
        display: none;
    }
}
